@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-next::before {
  content: " ";
  display: none;
}

.slick-prev::before {
  display: none;
  content: " ";
}

html {
  background-color: #F2F2F2;
}

/* Slider.css */
#testimonios {
  position: relative;
}

#testimonios .indicators {
  position: absolute;

}

.slide-principal {
  position: relative;
}



.slide-container>div>.indicators {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.indicators li {
  width: 30px !important;
  height: 30px !important;
}

.indicators li button {
  opacity: 1 !important;
}

.indicators li button:hover::before {
  background-color: #FCCD35 !important;
}

.indicators li button:before {
  background: #d9d9d9 !important;
  width: 20px !important;
  height: 20px !important;
}

.indicators li .active::before {
  background-color: #FCCD35 !important;
}


#formulario {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/assets/img/fondoContact.png) no-repeat;
  background-size: cover;
  background-position: center;
}


#fecha {
  text-align: right;
}

#fecha::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator,
::-webkit-datetime-edit {
  display: none;
}

#fecha::-webkit-calendar-picker-indicator {
  display: block;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#fecha::-webkit-datetime-edit {
  display: block;
}

.PhoneInputInput {
  background-color: #42424250;
  outline: none;
}

.Sobremi,
.SantiagoGarcia {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
  place-content: center;
}

.quiensoy,
.santiagoSaluda {
  grid-row: 1 / 3;
}

.santiCamera {
  grid-row: 2 / 3;
}

@media (min-width: 1220px) {
  .sobremi__Santi {
    grid-template-rows: 1;
    grid-template-columns: 2;
  }

  .santiCamera {
    grid-row: 1 / 1;
  }

  .pocodespues {
    grid-column: 2 / 2;
  }

  body {
    overflow: auto;
  }
}

@media(max-width:430px) {


  .indicators li button:before {

    width: 15px !important;
    height: 15px !important;
  }
}

@media (max-width: 360px) {
  .indicators {
    bottom: 42%;
  }

  .indicators li button:before {

    width: 15px !important;
    height: 15px !important;
  }
}